/************* Base Style ******************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}
body,
html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.container {
  height: 100%;
  width: 100%;
}
/************* Style for chooseMerchant ******************/
.chooseMerchant_Wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chooseMerchant_container {
  flex: 1;
  padding: 0 8px;
}
/************* Style for Wallet ******************/
.wallet {
  &-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-container {
    flex: 1;
  }
  &-account {
    width: 100%;
    height: 200px;
    position: relative;
    &-coin {
      position: absolute;
      top: 30px;
      left: 40px;
      &-title {
        display: flex;
        align-items: center;
        font-size: 12px;
        > div {
          width: 20px;
          height: 20px;
          margin-right: 6px;
        }
      }
      p {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.8;
      }
    }
    &-detail {
      display: flex;
      position: absolute;
      bottom: 40px;
      left: 0;
      width: calc(100% - 20px);
      .account-detail-item {
        width: 50%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          width: 20px;
          height: 20px;
          margin-right: 3px;
          transform: translateY(2px);
        }
      }
    }
  }
  &-banner {
    width: calc(100% - 20px);
    margin: 0 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &-img {
      width: 100px;
      height: 75px;
      margin: 4px;
    }
    &-time {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 10px;
      font-size: 16px;
      font-weight: 600;
      span {
        display: inline-block;
        padding: 2px 4px;
        border-radius: 4px;
        font-weight: 500;
        margin-right: 4px;
        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          margin-right: 10px;
        }
      }
    }
  }
  &-list{
    width: calc(100% - 20px);
    margin: 0 10px;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      &-left {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        > div {
          width: 60px;
          height: 40px;
          margin-right: 10px;
        }
      }
      &-right {
        width: 10px;
        height: 20px;
      }
    }
  }
  &-tab {
    &-wrap {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    &-container {
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
    }
    &-item {
      padding: 10px 14px;
      &-active {
        position: relative;
        &:before {
          content: "";
          width: 60%;
          height: 4px;
          border-radius: 4px;
          position: absolute;
          bottom: 4px;
          left: 20%;
        }
      }
    }
    &-list {
      margin: 16px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 30px 8px 6px;
      box-shadow: 0 6px 6px -3px rgba(162,162,162,0.1);
      border-radius: 6px;
      position: relative;
      &-left{
        display: flex;
        align-items: center;
        width: 45%;
        font-weight: 600;
        > div:first-child {
          width: 24px;
          line-height: 1;
          word-wrap: break-word;
          margin-right: 20px;
          padding: 10px 4px;
          border-radius: 8px;
        }
      }
      &-right {
        padding: 3px 12px;
        border-radius: 12px;
      }
      &-used {
        position: absolute;
        top: -6px;
        right: -6px;
        width: 70px;
        height: 70px;
      }
    }
  }
}
/************* Style for redpacket ******************/
.redpacket {
  &-item{
    width: 180px;
    max-width: calc(50% - 5px);
    border-radius: 10px;
    &:nth-child(2) {
      margin-left: 10px;
    }
    &-wrap {
      display: flex;
      flex-direction: column;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px;
    }
    &-amount {
      height: 90px;
      display: flex;
      justify-content: space-between;
      &-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
      }
      &-right {
        width: 30%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          display: inline-block;
          margin: 0 4px;
          line-height: 1;
          writing-mode: tb-rl;
        }
      }
    }
    &-desc {
      display: flex;
      justify-content: space-between;
      padding: 6px 4px;
      font-size: 10px;
      font-weight: 600;
      div {
        display: flex;
        align-items: center;
        padding: 0 6px;
        border-radius: 10px;
        letter-spacing: 1px;
      }
    }
  }
}
/************* Style for wallet-rules ******************/
.wallet-rules {
  &-wrap {
    padding: 5px 10px 0;
  }
  &-banner {
    width: 100%;
    height: 100px;
  }
  &-container {
    .wallet-rules-item {
      margin: 20px 0;
    }
  }
}
/************* Style for walletList ******************/
.wallet-transaction-list {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  &-wrap {
    padding: 0 10px;
  }
  &-left {
    display: flex;
    flex-direction: column;
  }
  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
}
/************* Style for coupon ******************/
.coupon-item-wrap {
  .redpacket-item-amount-right {
    width: 22%;
    span {
      margin: 0;
    }
  }
}
/************* Style for Tabbar ******************/
.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  opacity: 0;
  z-index: 1;
  &__bd {
    height: 100%;
  }
  &.js_show {
    opacity: 1;
  }
  &.tabbar {
    padding: 0;
  }
  .weui-badge {
    position: absolute;
    top: -2px;
    right: -13px;
    &_wrap {
      display: inline-block;
      position: relative;
    }
  }
}
/************* Style for Homepage ******************/
.homePage {
  .collectCoin{
      height: 180px;
      text-align: center;
      line-height: 100px;
  }
  &_game {
    display: flex;
    justify-content: space-around;
    > div {
      width: 80px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      margin-top: -30px;
      &.game_mission {
        img {
          width: 70px;
        }
      }
      img {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }
  &_wrap {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 62px;
    .recommend {
        margin: 10px;
        font-size: 13px;
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-more {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 4px;
            span {
                display: inline-block;
                width: 6px;
                height: 11px;
                margin-left: 2px;
                margin-top: 1px;
            }
        }
        &-content {
          white-space: nowrap;
          overflow-y: auto;
          &::-webkit-scrollbar{
            display: none;
            background-color:transparent;
        }
        }
        &-item {
          display: inline-flex;
          flex-direction: column;
          width: 100px;
          margin-left: 15px;
          margin-top: 9px;
          p {
            font-size: 10px;
            white-space: break-spaces;
          }
          &-img {
            width: 80px;
            height: 80px;
            margin: 10px;
            display: block;
          }
          &-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          &-price {
            color: orange;
            font-size: 12px;
          }
          &-add {
            width: 18px;
            height: 18px;
            border-radius: 10px;
          }
        }
    }
  }
}

/************* Style for Searchbar ******************/
.search-bar {
  flex: 1;
  display: flex;
  padding: 8px 12px;
  border-radius: 16px;
  align-items: center;
  &-container {
    display: flex;
    padding: 10px;
    align-items: center;
  }
  &-message {
    margin-left: 10px;
    width: 30px;
    height: 30px; 
  }
  .search-icon {
    width: 20px;
    height: 16px;
  }
  .search-input {
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: 10px;
  }
}

/************* Style for List ******************/
.list {
  &_title {
    font-weight: 500;
    margin: 6px 0;
  }
  &_item {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 4px 0;
  }
  &_right {
    text-align: right;
    flex-shrink: 0;
    margin-left: 20px;
  }
}
/************* Style for Panel ******************/
.panel{
  &_wrap {
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
  }
  &_title {
    padding-bottom: 6px;
  }
}
/************* Style for Tab ******************/
.tab-wrap {
  overflow: hidden;
}
.tab-item {
  padding: 6px 16px;
  font-size: 14px;
}
.tab-selected-type1 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: calc(50% - 12px);
    bottom: -6px;
    width: 24px;
    height: 10px;

  }
}
.tab-selected-type2 {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: calc(50% - 12px);
    bottom: -3px;
    width: 33px;
    height: 6px;
  }
}
.tab-container {
  margin: 0 10px;
  overflow-y: auto;
  &::-webkit-scrollbar{
      display: none;
      background-color:transparent;
  }
}
.tab {
  display: flex;
  align-items: center;
  padding: 6px 0;
  white-space: nowrap;
}
/************* Style for Waterfall ******************/
.waterfall{
  &_container {
    width: 100%;
    overflow-y: auto;
  }
  &_wrap {
    display: flex;
    &.shouldfloat {
      flex-wrap: wrap;
    }
  }
  &_item {
    width: 46%;
    flex-shrink: 0;
    padding: 4px;
    margin-left: 9px;
    margin-top: 9px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    p {
      font-size: 10px;
      margin: 4px 0;
    }
    &_img {
      width: 80px;
      height: 80px;
      margin: 10px;
      display: block;
    }
    &_add {
      width: 18px;
      height: 18px;
      border-radius: 10px;
    }
    &_price {
      font-size: 12px;
    }
    &_bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      > div {
        font-size: 8px;
      }
    }
  }
}
/************* Style for Swiper ******************/
.swiper {
  &_container {
    width: 100%;
    height: 90px;
    padding: 0 10px;
    position: relative;
  }
  &_item {
    display: block;
    width: 100%;
    height: 100%;
  }
  &_dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 4px;
    background: orange;
    &_active {
      width: 12px;
      border-radius: 4px;
    }
    &_container {
      display: flex;
      position: absolute;
      bottom: 10px;
      left: 50%;
    }
  }
}

/************* Style for Store top detail ******************/
.store-details {
  &-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    > p {
      font-size: 14px;
      font-weight: 600;
    }
  }
  &-location {
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      line-height: 1.2;
    }
    font-size: 12px;
  }
}

/************* Style for Store goods ******************/
.homePage-storegoods {
  height: 100%;
  display: flex;
  flex-direction: column;
  .homePage_wrap {
    height: inherit;
    overflow: hidden;
    .homePage_container {
      height: inherit;
      display: flex;
      flex-direction: column;
      .weui-tab{
        flex: 1;
        .weui-tab__content {
          height: 100%;
          .store-goods-wrap {
            height: 100%;
          }
        }
      }
    }
  }
}

.weui-tab__panel {
  &::-webkit-scrollbar{
    display: none;
    background-color:transparent;
  }
}

.store-goods {
  &-wrap {
    background: #f4f4f4;
    display: flex;
  }
  &-tab-mainly {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    font-size: 10px;
    .tab-mainly-item {
      padding: 20px 16px;
      &-hot {
        span {
          display: inline-block;
          border-radius: 4px;
          padding: 0 3px;
          margin: 0;
        }
      }
      &-selected {
        position: relative;
        &::before {
          position: absolute;
          left: -4px;
          top: calc(50% - 10px);
          content: "";
          width: 8px;
          height: 20px;
          border-radius: 4px;
        }
        
      }
    }
  }
  &-container {
    background: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 10px;
    .store-goods-tab-secondary {
      white-space: nowrap;
      overflow-y: auto;
      display: flex;
      &::-webkit-scrollbar{
        display: none;
        background-color:transparent;
      }
      .tab-secondary-item {
        padding: 6px 16px;
        margin-right: 10px;
        background: #f5f5f5;
        border-radius: 4px;
        display: flex;
        align-items: center;
        &-selected {
          background: #e1fff7;
          color: #26ce9a;
        }
      }
      &-container {
        margin-left: 10px;
        .store-goods-title{
          font-weight: 600;
          font-size: 14px;
        }
      }
      &-wrap {
        display: flex;
      }
      &-arrow {
        width: 40px;
        height: 40px;
        background: url(../../../assets/imgs/triangle.jpg) no-repeat center;
        background-size: 20px;
        &.secondary-arrow-expand {
          background: url(../../../assets/imgs/triangle1.jpg) no-repeat center;
          background-size: 20px;
        }
      }
      &-sort {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .tab-secondary-sort{
          &-price,&-amount {
            color: #999999;
            padding: 4px 8px;
          }
          &-price,&-icon {
            display: flex;
            align-items: center;
            span {
              display: inline-block;
              width: 10px;
              height: 16px;
              margin-left: 4px;
              background: url(../../../assets/imgs/sort.jpg) no-repeat center;
              background-size: 14px;
            }
          }
        }
      }
    }
  }
  &-item {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    > img {
      width: 130px;
      height: 100px;
      display: block;
    }
    &-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
      p {
        font-size: 14px;
        font-weight: 500;
      }
      &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &-price {
      span {
        color: orange;
        font-size: 18px;
        font-weight: 500;
      }
    }
    &-add {
      width: 18px;
      height: 18px;
      border-radius: 10px;
      background: url(../../../assets/icons/index/icon_add.png) #26ce9a no-repeat center;
      background-size:8px;
    }
    &-wrap {
      flex: 1;
      overflow-y: auto;
      &::-webkit-scrollbar{
        display: none;
        background-color:transparent;
      }
    }
  }
}
/************* Style for Clothes content ******************/
.clothes-wrap {
  .clothes-banner {
      width: 100%;
      padding: 10px;
      img {
          display: block;
          width: 100%;
      }
  }
  .clothes-category-wrap {
      display: flex;
      margin-right: 20px;
      overflow-x: auto;
      white-space: nowrap;
      .tab-item{
        padding: 0 5px;
      }
      &::-webkit-scrollbar{
          display: none;
          background-color:transparent;
      }
      .clothes-category-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
              width: 80px;
          }
          p {
              font-weight: 600;
              line-height: 1.2;
          }
      }
  }
  .clothes-declare {
      width: 100%;
      padding: 14px 10px 10px;
      img {
          display: block;
          width: 100%;
      }
  }
  .clothes-container {
      .clothes-item {
          width: 40%;
          float: left;
          display: flex;
          flex-direction: column;
          margin: 10px;
          &-img {
              width: 100%;
          }
          p {
              line-height: 1.4;
              margin: 6px 0 4px;
              text-overflow: -o-ellipsis-lastline;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              // line-clamp: 2;
              -webkit-box-orient: vertical;
          }
          &-bottom {
              display: flex;
              justify-content: space-between;
              align-items: center;
              span {
                  font-size: 18px;
                  font-weight: 600;
              }
              img {
                  width: 80px;
                  height: 20px;
              }
          }
      }
  }
}
/************* Style for Life content ******************/
.lifes-content {
  .swiper_container {
      padding: 0;
      height: unset;
  }
}
